<configuration>

    <contextName>zapush</contextName>

    <appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/zapush.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/zapush.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

		<encoder>
			<pattern>%date [%thread] %-5level %logger{36} - %msg%n%xException{10}</pattern>
		</encoder>
    </appender>

    <!-- display errors to stdout as well -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
         <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
           <level>ERROR</level>
         </filter>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} - %msg%n%xException{10}</pattern>
        </encoder>
      </appender>


    <root level="${logback.loglevel:-INFO}">
        <appender-ref ref="LOGFILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>